<!-- src/app/auth/login/login.component.html -->
<div class="auth-container">
  <div class="auth-card">
    <h2>Se connecter</h2>

    <form (ngSubmit)="onLogin()">

      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" required />

      <label>Mot de passe</label>
      <input type="password" [(ngModel)]="password" name="password" required />

      <button type="submit" class="btn-submit" [disabled]="loading">
        {{ loading ? 'Connexion...' : 'Se connecter' }}
      </button>

      <div *ngIf="errorMessage" class="alert alert-error">{{ errorMessage }}</div>

      <p class="switch">
        Pas de compte ?
        <a routerLink="/register">S'inscrire</a>
      </p>

    </form>
  </div>
</div>
