.event-detail-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.image-wrapper img {
  width: 100%;
  border-radius: 12px;
  max-height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.meta p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #777;
}

.section {
  margin-top: 20px;
  padding: 20px;
}

.error-box {
  color: red;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px;
}
